<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<!--<header th:replace="~{fragments/header :: header (isLoggedIn=${isLoggedIn}, user=${user})}"></header>-->

<div class="container">
    <header th:replace="~{fragments/header :: header (isAuthenticated=${isAuthenticated})}"></header>
    <main>
        <div>
            <div>
                <h4>User name right now -> <span sec:authentication="name"></span></h4>
                <br><br>
            </div>
            <div class="row justify-content-start mb-2 md-2">
                <div class="col-2">
                    <a href="#" class="btn btn-outline-primary me-2">Add folder</a>
                </div>
            </div>

            <div class="row justify-content-start mb-2 md-2">
                <form action="">
                    <div class="col-4">
                        <label for="formFile" class="form-label">Choose files for upload</label>
                        <input class="form-control" type="file" id="formFile">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
            <div class="d-flex">

                <!--                    <div class="d-inline-block" th:unless="${storageList[0].filePath.segments == null}" th:each="segment, status : ${storageList[0].filePath.segments}">-->
                <!--                        <a th:href="'?path=' + ${storageList[0].breadcrumbs.segments.get(segment)}" th:text="${segment}"></a><span th:unless="${status.index == storageList[0].filePath.segments.size() - 1}" class="ps-2 pe-2">-></span>-->
                <!--                    </div>-->
                <div class="d-inline-block">
                    <a class="bg-dark bg-gradient text-light p-1" th:href="'?path='" th:text="home"></a>
                    <span class="ps-1 pe-1" th:if="${storageList.size() > 0}">-></span>
                </div>
                <div th:if="${storageList.size() > 0}">
                    <div class="d-inline-block" th:each="segment, status : ${storageList[0].filePath.segments}">
                        <a class="bg-dark bg-gradient text-light p-1"
                           th:unless="${status.index == storageList[0].filePath.segments.size() - 1}"
                           th:href="'?path=' + ${storageList[0].breadcrumbs.segments.get(segment)}"
                           th:text="${segment}"></a>
                        <a class="bg-dark bg-gradient text-light p-1"
                           th:if="${status.index == storageList[0].filePath.segments.size() - 1}"
                           th:text="${segment}"></a>
                        <span class="ps-1 pe-1"
                              th:unless="${status.index == storageList[0].filePath.segments.size() - 1}">-></span>
                    </div>
                </div>

            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Last modified</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Rename</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="file, status : ${storageList}">
                        <td th:if="${file.isDir}"><img th:src="@{/img/directory20.png}"/></td>
                        <td th:unless="${file.isDir}"><img th:src="@{/img/file20.png}"/></td>
                        <td><a th:href="@{'?path=' + ${#strings.defaultString(file.filePath,'')} + ${file.name}}"
                               th:text="${file.name}">Name</a></td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <button type="button" class="btn btn-secondary pt-0 pb-0">delete</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary pt-0 pb-0">rename</button>
                        </td>
                    </tr>
                    <!--                    <tr>-->
                    <!--                        <td>Jacob</td>-->
                    <!--                        <td>Thornton</td>-->
                    <!--                        <td>@fat</td>-->
                    <!--                        <td></td>-->
                    <!--                        <td></td>-->
                    <!--                    </tr>-->
                    <!--                    <tr>-->
                    <!--                        <td>Larry the Bird</td>-->
                    <!--                        <td>@twitter</td>-->
                    <!--                        <td></td>-->
                    <!--                        <td></td>-->
                    <!--                        <td></td>-->
                    <!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</body>
</html>